form {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

table {
  margin: 20px 0;
}

input {
  width: 70%;
  font-family: PokemonGb;
  font-size: 0.8em;
  padding: 2px;
  height: 30px;
  line-height: 30px;
}

.add-button, .save-button {
  background-color: forestgreen;
  color: whitesmoke;
}

.remove-button {
  background-color: red;
  color: whitesmoke;
}
